    {% extends 'resource.html' %}
{% block table %}
<table class="table table-hover table-striped text-center" >
<thead class="thead-light">
<tr>
    <th>版本号</th>
    <th>文件名</th>
    <th>文件类型</th>
    <th>描述信息</th>
    <th>操作</th>
</tr>
</thead>
<tbody>
{% for col in  posts.object_list %}
    <tr  style="background-color: {{col.4}};">
        <td>{{col.0}}</td>
        <td>{{col.4}}</td>
        <td>{{col.5}}</td>
        <td>{{col.6}}</td>
        <td onclick="event.stopPropagation()">
            <button type="button" class="btn-sm btn-success" onclick="window.document.location = '{{ col.9 }} '   " >下载附件</button>
        </td>
    </tr>
{% endfor %}
</tbody>
</table>
{% endblock %}
