{% extends 'base.html' %}
{% load static %}
{% block content %}
{% load static %}

<div class="container-fluid" >
	<table class="table-sm table-hover table-striped text-center w-100 container-fluid" >
		<form method="get" action="/materials">
			<thead class="thead-light">
			<tr class="row" style="margin:0px">
				<th class="col-1">类型
					<select id="type" name="type" onchange="selected(this)" class=" text-center" style="width:  16px">
						<option value=""></option>
						{% for type in typeData %}
						<option value="{{ type }}">{{ type }}	</option>
						{% endfor %}
					</select>
				</th>
				<th class="col-1" style="margin:0px">品牌
					<select name="brand" class=" text-center" onchange="selected(this)"  style="width:  16px">
						<option value=""></option>
						{% for brand in brandData %}
							<option >{{ brand }}</option>
						{% endfor %}
					</select>
				</th>
				<th class="col-1" title="Platform" style="margin:0px">平台</th>
				<th class="col-1" title="Code" style="margin:0px">代号</th>
				<th class="col-3" style="margin:0px">物料名称</th>
				<th class="col-1" style="margin:0px">TDP</th>
				<th class="col-1" style="margin:0px">SPEC</th>
				<th class="col-1" style="margin:0px">创建者
					<select name="usr" class=" text-center" onchange="selected(this)"  style="width:  16px">
						<option value=""></option>
						{% for usr in usrData %}
							<option >{{ usr }}</option>
						{% endfor %}
					</select>
				</th>
				<th class="col-2" style="margin:0px">操作</th>
			</tr>
		</thead>
		<tbody>
<!--			<button type="button" class="btn-sm btn-danger" data-toggle="modal" data-target="#myModal" onclick="values(1)" >删除</button>-->
			{% for col in  posts.object_list %}
				<tr class="row">
					<td class="col-1 text-truncate" title="{{col.4}}">{{col.4}}</td>
					<td class="col-1 text-truncate" title="{{col.1}}">{{col.1}}</td>
					<td class="col-1 text-truncate" title="{{col.2}}">{{col.2}}</td>
					<td class="col-1 text-truncate" title="{{col.3}}">{{col.3}}</td>
					<td class="col-3 text-truncate" title="{{col.5}}" >{{col.5}}</td>
					<td class="col-1 text-truncate" title="{{col.7}}">{{col.7}}</td>
					<td class="col-1 text-truncate" title="{{col.9}}">{{col.9}}</td>
					<td class="col-1 text-truncate" title="{{col.6}}">{{col.6}}</td>
					{% block mater %}
					<td  class="col-2" >
						<button type="button" class="btn-sm btn-info" onclick="window.document.location = '/resource?id={{col.0}}'" >详细信息</button>
						<button type="button" class="btn-sm btn-warning" onclick="window.document.location = '/updateMaterial?id={{col.0}}'" >修改</button>
<!--						<button type="button" class="btn-sm btn-danger" onclick="window.document.location = '/deleteMaterial?id={{col.0}}'" >删除</button>-->
						<button type="button" class="btn-sm btn-danger" data-toggle="modal" data-target="#myModal" onclick="values({{col.0}})" >删除</button>
					</td>
					{% endblock %}
				</tr>
			{% endfor %}
		</tbody>
		</form>
	</table>

</div>
<div class="container-fluid">
	<div class="row">
	<div class="col-9"></div>
	<table class="table col-3 pull-right">
		<tr>
			{% block page %}
			<td>{% if posts.has_previous %}
				<a  href="/materials/?page={{ posts.previous_page_number }}">上一页</a>
				{% endif %}
			</td>
			<td><input class="form-control-ms text-center" style="width: 45px;" id="nowpage" name="page" value="{{ page }}"/>
			 /<a name="pagemax" >{{ pagemax }}</a>
			</td>
			<td>
				{% if posts.has_next %}
				<a  href="/materials/?page={{ posts.next_page_number }}">下一页</a>
				{% endif %}
			</td>
			{% endblock %}
			<td><input class="btn btn-primary w-100" type="button" onclick="jumpToPage()" value="跳转"></td>
		</tr>
	</table>
	</div>
</div>
<!-- 模态框（Modal） -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h4 class="modal-title" id="myModalLabel">确认删除？</h4>
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
			</div>
			<div class="modal-body">稍后可在回收站恢复数据
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-danger" onclick="sub()">是</button>
				<button type="button" class="btn btn-default" data-dismiss="modal">否</button>
			</div>
		</div>
	</div>
</div>
</td>

{% block script %}
<script type="text/JavaScript">
function jumpToPage(){
	var page = document.getElementById('nowpage').value;
	console.log(page)
	window.location.href="/materials/?page="+page;
}
function selected(data){
	window.location.href="/materials?"+data.name+"="+data.value;
}

</script>
<script>
	id=0
	function values(ID){
		id=ID
		console.log(id)
	}
	function sub(){
		window.location.href='/deleteMaterial?id='+id;
	}
</script>
{% endblock %}


{% endblock %}
