{% extends 'materials.html' %}
{% block mater %}
{% load static %}
<td class="col-2" onclick="event.stopPropagation()">
	<button type="button" class="btn-sm btn-success" onclick="window.document.location = '/rollback?id={{col.0}}'" >恢复</button>
	{{ superbtn }}
</td>

{% endblock %}


{% block page %}
<td>{% if posts.has_previous %}
	<a  href="/recyclebin/?page={{ posts.previous_page_number }}">上一页</a>
	{% endif %}
</td>
<td><input class="form-control-ms text-center" style="width: 45px;" id="nowpage" name="page" value="{{ page }}"/>
 /<a name="pagemax" >{{ pagemax }}</a>
</td>
<td>
	{% if posts.has_next %}
	<a  href="/recyclebin/?page={{ posts.next_page_number }}">下一页</a>
	{% endif %}
</td>
{% endblock %}

{% block script %}
<script type="text/JavaScript">
function jumpToPage(){
	var page = document.getElementById('nowpage').value;
	console.log(page)
	window.location.href="/recyclebin/?page="+page;
};

function selected(data){
	window.location.href="/recyclebin?"+data.name+"="+data.value;
}
</script>
{% endblock %}
