{% extends 'resource.html' %}
{% block table %}
<table class="table table-hover table-striped text-center" >
<thead class="thead-light">
<tr>
				<!-- <th>ID</th> -->
	<th>模型名称</th>
	<th>创建人</th>
	<th>版本分支</th>
	<th>操作</th>
</tr>
</thead>
<tbody>
{% for col in  posts.object_list %}
	<tr  style="background-color: {{col.4}};">
		<!-- <td>{{col.0}}</td> -->
		<td>{{col.0}}</td>
		<td>{{col.2}}</td>
		<td>{{col.3}}</td>
		<td onclick="event.stopPropagation()">
			<button type="button" class="btn-sm btn-success" onclick="window.document.location = '/resBranch?id={{ col.1 }}&branch={{ col.5 }}'" >基于当前分支</button>
		</td>
	</tr>
{% endfor %}
<form method="get" action="/newBranch/">
<input name="id" value="{{ mid }}"   style=" display: none;" >
<tr class="table-hover" >
	<td><button type="button" class="btn-sm btn" ><span class="glyphicon glyphicon-plus"></span> </button></td>
	<td></td>
	<td class="thead-light">
		<select id="creater" name="branch" class="form-control ">
			{% for k,v in branch_list.items %}
				<option value= {{ k }} >{{ v }}</option>
			{% endfor %}
		</select>
	</td>
	<td><button type="submit" class="btn-sm btn" >新增版本分支</button></td>
</tr>
</form>
<tr>
	<td colspan="3">
	<td><button type="button" class="btn-sm btn" onclick="window.document.location = '/branchSet/?id={{mid}}'">版本分支设置</button></td>
	</td>
</tr>
</tbody>
</table>
{% endblock %}



